@import './typography.css';

html,
body {
  width: 100%;
  height: auto !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Anaheim';
  font-weight: 400;
  font-size: 1rem;
  color: #cccccc;
}

h1,
h2 {
  font-family: 'Source Sans Pro';
}

@keyframes pulso {
  0% {
    transform: scale(0.99);
    border: solid 2px #3d94a000;
  }
  40% {
    transform: scale(1.05);
    border: solid 2px #3d94a026;
  }
  100% {
    transform: scale(1);
    border: solid 2px #3d95a000;
  }
}

.nombre img {
  animation-name: pulso;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
